<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
    <title>Dev Team</title>
</head>

<body id="aboutUs-body">
    <main>
        <section id="nintendo-switch">
            <section id="nintendo-window">
                <section class="dev-team" id="screen-saver">
                    <p>Pixel</p>
                </section>
                <section class="dev-team" id="tina-section">
                    <img src="tina-profile-pic.png" alt="Tina">
                    <h2>Tina Myers</h2>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </section>
                <section class="dev-team" id="jp-section">
                    <img src="jp-profile-pic.png" alt="JP">
                    <h2>JP Jones</h2>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </section>
                <section class="dev-team" id="simon-section">
                    <img src="simon-profile-pic.png" alt="Simon">
                    <h2>Simon Panek</h2>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </section>
            </section>
            <section id="nintendo-button-section">
                <p id="j-button">J</p>
                <p id="t-button">T</p>
                <p id="s-button">S</p>
                <p id="blank-button"></p>
            </section>
        </section>
        <!-- <section>
            <h2>JP Jones</h2>
            <img src="">
            <p></p>
        </section>
        <section>
            <h2>Tina Myers</h2>
            <img src="">
            <p></p>
        </section>
        <section>
            <h2>Simon Panek</h2>
            <img src="">
            <p></p>
        </section> -->
    </main>
    <footer><%- include('./footerPartial') %></footer>
</body>

</html>