<!DOCTYPE html>
  <head>
    <%- include('./headPartial') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  </head>
  <body id="delete-all-body">
    <header>
      <h1 id="delete-all-h1">Are you sure that you want to completely erase your inventory? This action cannot be undone!</h1>
    </header>
    <main>
      <form action="/inventory" method="GET">
        <button id="cancel-button" type="submit">Cancel!!!</button>
      </form>
      <section>
        <form id="delete-all-form" action='/hardDeleteDB/?_method=DELETE' method="POST">
          <p>Please submit the correct answer to the following math problem to confirm your intent to irrevocably delete all of your inventory data:</p>
          <p id="numTest-p"><%= numTest %></p>
          <input id="testAnswer-input" type="text" name="testAnswer">
          <button id="delete-all-button" type="submit"> Submit & Delete</button>
        </form>
      </section>
      <section>
        <div class="sprite-div">
          <img id="explosion" src="explosion.png">
        </div>
      </section>
    </main>
    <!-- <script>
      $('#delete-all-button').click(function (){
        console.log('showing explosion');
        $('sprite-div').show();
      })
    </script> -->
  </body>