<div class="footerButtons">
  <form action="/aboutUs" method="GET">
    <button id="teamButton" type="submit">Dev Team</button>
  </form>  
  <button id="theme-toggle">Switch Mode</button>
  <p class="copyright">&copy; Team Pixel 2020</p>
</div>

