<meta charset="utf-8">
<meta name="viewport" content="width=device-width" initial-scale="1">
<link href="/reset.css" rel="stylesheet" type="text/css">
<link href="/base.css" rel="stylesheet" type="text/css">
<link id="theme" rel="stylesheet" type="text/css" href="/light-theme.css">
<title>Game Inventory App</title>
<script src="/js/app.js"></script>