<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body class="dark" id="body">
    <header><h1>Game Inventory App</h1></header>
    <main>
        
        <form class="indexForm" action="/inventory">
            <button class="indexButton">View Inventory</button>
        </form>

        <form class="indexForm" action="/inventory/verify" method="GET">
            <button class="indexButton" type="submit">Verification of Inventory</button>

        </form>
        <form class="indexForm" action="/search" method="POST">
            <input type="hidden" name="searchArea" value="games">
            <input  id="indexSearch" type="text" name="searchCriteria" placeholder="Search By Game Title" required />
            <button id="submitButton" type="submit">Search</button>
        </form>
    </main>
    <footer><%- include('./footerPartial') %></footer>
</body>

</html>