<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body>
    <header></header>
    <main>
        <form action="/inventory">
            <button>View Inventory</button>
        </form>
        <form>
            <button>Verification of Inventory</button>
        </form>
        <form action="/search" method="POST">
            <fieldset class="radioButton" \>
                <label for="games">Title:</label>
                <input type="radio" name="searchArea" value="games" required>
            </fieldset>
            <fieldset class="radioButton" \>
                <label for="publisher">Publisher</label>
                <input type="radio" name="searchArea" value="publisher" required>
            </fieldset>
            <fieldset class="radioButton" \>
                <label for="console">Console</label>
                <input type="radio" name="searchArea" value="console" required>
            </fieldset>
            <fieldset class="radioButton" \>
                <label for="releaseDate">Release Date</label>
                <input type="radio" name="searchArea" value="releaseDate" required>
            </fieldset>
            <input type="text" name="searchCriteria" placeholder="Search" required />
            <button type="submit">Search</button>
        </form>
    </main>
    <footer><% include('./footerPartial') %></footer>
</body>

</html>