<!DOCTYPE html>
<html>
    <head>
        <%- include('./headPartial') %>
    </head>
    <body>
        <header>
            <%- include('./goBackPartial') %>
        </header>
        <main>
            <section><% searchResultsData.forEach( game=> { %> 
                <h2><%= game.name %></h2>
                <input type="hidden" name="gameTitle" value="<%=JSON.stringify(game)%>">
                <form>
                    <button>View Details</button>
                </form>
                <form>
                    <button>Add to Inventory</button>
                </form>
                <% }) %>
            </section>
        </main>
        <footer><% include('./footerPartial') %></footer>
    </body>
</html>