<!DOCTYPE html>
<html>

<head>
    <%- include('./headPartial') %>
</head>

<body>
    <header>
        <%- include('./goBackPartial') %>
    </header>
    <main><% databaseDetails.forEach( game => { %>
        <form action="" method="">
            <h2><%= game.name %></h2>
            <section>
                <button type="submit">View Details</button>
        </form>
        </section>
        <form action="/delete/<%= game.game_id %>?_method=DELETE" method="POST">
            <button type="submit">Delete from Inventory</button>
            </section>
        </form>
        <% }) %>
        <form action="/wipeDB/?_method=DELETE" method="POST">
            <button type="submit">DELETE ALL INVENTORY DATA - DANGER!</button>
        </form>
    </main>
    <footer><% include('./footerPartial') %></footer>
</body>

</html>