@import "layout.css";
@import "module.css";
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

*{
    font-family: 'Epilogue', sans-serif;
}

body{
    /* background-color: lightgray; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}
.imageLarge{
    width: 80%;
    height: auto;

}

input[type=checkbox]{
    display: none;
}
    border: outset 8px;
}
header h1{
    font-family: 'Epilogue', sans-serif;
    font-size: 4vw;
    margin: 3% auto 0 auto;
    border: 1px black solid;
    width: 80%;
    border-radius: 10px;
    padding: 15px 0 15px 0;
    background-color: white;
}