@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

html, header, footer, #aboutUs-body, #go-back-form{
     background-color: black;
}

body{
    color: black;
    background-color: rgb(151, 150, 150);
}
#inventoryButton, #almostLastButton{
    background-color: lightgray;
    color: black;
}
#inventoryButton:hover, #almostLastButton:hover {
    background-color: white;
    color: black;
    border: black 1px solid;
}
h1{
    color: white;
    font-family: 'Orbitron', sans-serif;
}

footer{
    color: white;
}
.footerButtons{
    background-color: black;
}
.randomContainer{
    border: none;
}
.grid-container, .inventoryItem {
    border: 1px black dashed;
}
img{
    filter: grayscale(70%);
}
a{
    color: black;
    text-decoration: none;
}
#nintendo-switch{
    filter: grayscale(70%);
}

.seeIfThisWorks{
    background-color: lightgray;
}