
.indexForm{
    width: 400px;
    font-size: 30px;
    padding: 5px;
    margin: 20px auto 20px auto;
    /* border: 1px black solid; */
}
.viewInventoryForm{
    width: 400px;
    margin: 20px auto 20px auto;
}

.indexButton{
    border-radius: 10px;
    width: 100%;
    height: 50px;
}
#indexSearch{
    width: 76%;
    height: 50px;
    border-radius: 10px;
}
#submitButton{
    width: 20%;
    height: 55px;
}

#danger{
    width: 400px;
    height: 50px;
}

.danger:hover{
    background-color: rgb(235, 140, 140);
    border: red 2px solid;
}

#listText{
    line-height: 70px;
}

.viewInventoryForm button{
    width: 150px;
    text-align: center;

}

.grid-container{
    display: inline-grid;
    grid-template-columns: 60% 35%; 
    width: 500px;
    height: 70px;
    margin: 5px auto 5px auto;
    padding: 15px;
    border: 2px rgb(3, 3, 129) solid;
    border-radius: 10px;
    background-color: white;
}

.grid-item div{
    margin-bottom: 10px;
}

#inventoryButton{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 10px;
}
.goBackButton{
    width: 400px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* details.ejs css */
.grid-containerTwo{
    display: inline-grid;
    grid-template-columns: 60% 40%;
    width: 90%;
}

.footerButtons{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 800px;
}
#grid-itemThree{
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

#grid-itemTwo{
    display: inline-block;
}

.detailItems{
    margin-top: 5px;
    text-align: left;
    margin-left: 10%;
}

#aboutUs-body {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#nintendo-switch {
    width: 71vw;
    margin-left: 1.5vw;
    height: 159vw;
    background-image: url(nintendo-switch-about-us-edit.jpeg);
    background-size: 70vw 158vw;
    background-repeat: no-repeat;
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 5vw;
}

.dev-team {
    color: black;
    border: 3px solid black;
    width: 51vw;
    height: 89vw;
    position: absolute;
    top: 48vw;
    left: 23.5vw;
    background-color: gray;
}

#screen-saver{
    display: none;
    background-color: black;
    border: 1px solid orange;
    
}

#tina-section {
  display: none;
}

#jp-section {

}

#simon-section {
  display: none;
}

.dev-team img {
    margin-top: 2vw;
    width: 45vw;
    border: 1vw solid black;
}

.dev-team h2 {
    margin-top: 2vw;
    text-align: center;
    font-size: 2em;
}

.dev-team ul {
    color: black;
    /* border: 1px solid orange; */
    font-size: 1.5em;
    width: 50vw;
    height: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dev-team li {
  list-style-type: circle;
  list-style-position: inside;
}

#nintendo-button-section {
    /* border: 1px solid greenyellow; */
    color: white;
    font-weight: 500;
    position: absolute;
    top: 150vw;
    width: 67vw;
    height: 22vw;

}

#j-button {
    /* border: 1px solid yellow; */
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    position: absolute;
    top: 7.75vw;
    left: 43.5vw;
    background-color: black;
}

#t-button {
    /* border: 1px solid yellow; */
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    position: absolute;
    top: 2.75vw;
    left: 48.625vw;
    background-color: black;
}

#s-button {
    /* border: 1px solid yellow; */
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    position: absolute;
    top: 8vw;
    left: 53.75vw;
    background: black;
}

#blank-button {
    /* border: 1px solid yellow; */
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    position: absolute;
    top: 13.25vw;
    left: 48.625vw;
    background-color: black;
}

#aboutUs-footer {
    margin-top: 2vw;
}